<div class="page-header">
  <%= link_to fornecedores_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_fornecedor_path(@fornecedor), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Exibir fornecedor</h1>
</div>

<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @fornecedor.codigo %></dd>

  <dt>Razão social:</dt>
  <dd><%= @fornecedor.razaoSocial %></dd>

  <dt>Cnpj:</dt>
  <dd><%= @fornecedor.cnpj %></dd>

</dl>
