<div class="page-header">
  <%= link_to produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_produto_path(@produto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Exibir produto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @produto.codigo %></dd>

  <dt>Nome:</dt>
  <dd><%= @produto.nome %></dd>

  <dt>Fornecedor:</dt>
  <dd><%= @produto.fornecedor.razaoSocial %></dd>

</dl>
